@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

body,
html,
input,
button,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: "Mukta", "sans-serif";
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}
