@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body,
html,
input,
button {
  padding: 0;
  margin: 0;
  font-family: "Cabin", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}
