.header {
  height: 75px;
  background-color: white;
  box-shadow: 0 0 10px #ccc;
  top: 0;
  position: fixed;
  width: 100%;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 10px;
      font-size: 18px;
      cursor: pointer;
      transition: 250ms;

      &:hover {
        color: tomato;
      }
    }
  }
}
